.content {
  display: flex;
  justify-content: center;
}

.content .divcontents {
  border: 1px solid #58D68D;
  background-color: #f1f1f1;
  width: 22%;
  margin: 1%;
  text-align: center;
  line-height: 75px;
}

.divcontents div p{
	line-height: 100%;
	text-align: center;
	margin-bottom: 5%;
	margin-left:3% ;
	margin-right:3%;
}