*{
  /* outline: 1px solid red;    */


}
html{
position:relative; 
min-height: 100%;
}
body{    
padding:0;
margin:0;
background-color:#ffff;
}
.mbeshtjellesi{
padding-top: 10%;
/* e kom ndryshu margin */
margin-bottom: 12%;
}
.permbajtja{
width:90%;
margin:auto;
overflow:hidden;
}
header{
min-height: 70px;                       
width: 100%;                            
position: fixed;
background: white;
}
header img{
float: left;
}
#vija {
height: 3px;   
background-color: rgba(29, 106, 119, 0.938);
border: 0px;  
padding: 0;
}
.searchbox{   
max-width:400px; 
float:right;    
}
form.searchbox input[type=text] {
margin-top: 15px;
padding: 8px;
font-size: 17px;
border: 1px solid rgba(29, 106, 119, 0.938);
float: left;
width: 64%;
background: #ffffff;
}
form.searchbox input[type=submit] {
margin-top: 15px;
float: left;
width: 28%;
padding: 8px;
background: rgba(29, 106, 119, 0.938);
color: white;
font-size: 17px;
border: 1px solid rgba(29, 106, 119, 0.938);
border-right: none;
border-left: none;
cursor: pointer;
}
form.searchbox input[type=submit]:hover{  
color: yellow;
}
form.searchbox::after {
content: "";
clear: both;
display: table;   
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
nav ul {                 
background-color:rgba(29, 106, 119, 0.938);
}

nav ul  li {
padding: 0;
float: left;
width: 15%;
}
nav ul li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
font-size: 17px;
padding: 12px;
text-decoration: none;
}
nav ul li a:hover:not(.active) {
color: yellow;
}
nav ul .active{
background-color:black;
}
#fotot{  
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin-top:20px;
text-align: left;  
}
h3{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}
#fotot #f1{
display: inline-block;
width: 21%;
height:auto;
float: left;
}
#fotot #f2{
display: inline-block;
width: 21%;
height:auto;
margin-left: 5.4%;
}
#fotot #f3{
display: inline-block;
width: 21%;
height:auto;
float: left;
margin-left: 5.4%;
}
#fotot #f4{
display: inline-block;
width: 21%;
height:auto;
float: right;    
}
.more,.more2,.more3,.more4, #moreinfo{
display: none;
}
.moreless-button,.moreless-button2,
.moreless-button3,.moreless-button4,
.morelessinfo-button{
text-decoration: none;
color: rgba(29, 106, 119, 0.938);
}
#vijames{
height: 1px;
background-color: lightgray;
width: 90%;
border: 0;
}
footer{      
position: absolute; 
bottom: 0;
left: 0%;
right: 0%; 
font-size: 14px;
text-align: center;
background-color:  #212121;
height: auto;
letter-spacing: 0.8px;
}
#footerimajtas{
font-family: Tahoma;
color: white;
width: 30%;
float: left;
display: inline-block;
padding: 2px 0px;
}
#footerimes{
font-family: Tahoma;
color: white;
width: 30%;
float: left;
margin-left: 5%;
display: inline-block;
padding: 2px 0px;
}

#footeridjathtas{
font-family: Tahoma;
color: white;
width: 30%;
float: right;
display: inline-block;
padding: 2px 0px;
}
#footeridjathtas ul{
margin-right: 30%;
}
#footeridjathtas ul li{
list-style: none;
padding-right: 4%;
float: right;


}
#footeridjathtas ul li a{
display: block;
color: white;
width: 40px;
height: 40px;

}
#footeridjathtas ul li a:hover:not(.active){
color:rgba(29, 106, 119, 0.938);
}
#copyright{
width: 100%;
display: inline;
background-color:  #2b2a29;
font-family: Tahoma;
text-align: center;
color: black;
float: left;
bottom: 0;
border: none;
height: 20px;
padding: 0;
font-size: 14px;
}
#copyright a{
text-decoration: none;
color: #000000;
font-size: 14px;
padding-left: 2%;
}
#copyright a:hover{
color: #ffff;
}

#aside1{
display: inline-block;
width: 31%;
text-align: left;
float: left;
}
#aside1 div{
min-height: 130px; 
}
.vijashkurt{
height: 1px;
background-color:lightgray;
border: 0;
}
#bottomsection{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin-top:10px;
text-align: left;  


}
#middlevideo{
display: inline-block;
width: 31%;
float: left;
margin-left: 3.5%;
height: auto;

}
#aside2{
display: inline-block;
width: 31%;
text-align: left;
float: right;
}
.right{
min-height: 132px;
}
.right p{
display: inline;
}
#aside2 a{
text-decoration: none;
color: rgba(29, 106, 119, 0.938)
}



/* MADHESIA PER TABLET */
@media(max-width: 768px){
.permbajtja{
margin-bottom: 35px;
} 
.mbeshtjellesi{
margin-bottom:65%;
}
header nav,
header nav li,
#vija,    
#fotot #f1,#fotot #f2,
#fotot #f3,#fotot #f4,
#aside1, #middlevideo,
#aside2, #footerimajtas,
#footerimes, #footeridjathtas
{
float:none;
text-align:center;
width:100%;
}
header img{       
margin: 0 60px 0 60px;
}
.searchbox {
position: relative;    
padding-right: 8%;     
}   
form.searchbox input[type=text],
form.searchbox input[type=submit] {
margin-top: 10px;
padding: 4px;
}
header nav li a
{
padding: 1%;
}
#footerimes{
margin-left: 0;
}
#copyright{
height: auto;
}
#footerimajtas,
#footerimes, #footeridjathtas, #copyright,
#copyright a{
padding:0 ;
font-size: 12px;
}
}

/*up-blerina's code */




#top-photo{
	background-position: center;
}


/*
#tabela1{
	padding: 30px;
	margin: 0 100px;
}
table{
	width:80%; 
	margin-left:10%;
	margin-right:10%; 
}
table,th,td{
	border:1px solid rgba(29, 106, 119, 0.938);
	text-align: center;
	border-collapse: collapse;
	font-family: arial;
	padding: 4px 50px;
}
tr:hover{
	background-color: #d6f0f5;
}*/
/*th{
	background-color: rgba(29, 106, 119, 0.938);
	color: #fff;
}*/

/*th{
	background-color: black;
	color: #fff
}*/



#trainers1{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.team-list li{
	float:left;
}

.trainers{
	border:1px solid #fff;
	padding:5px;
	padding-top: 0;
	margin:30px;
}
.card{
	width: 270px;
	height: 403px;
}
.para, .mbrapa{
	width: 270px;
	height: 403px;
	/*overflow: hidden;*/
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}
.para{
	transform: perspective(600px) rotateY(0deg);
}
.mbrapa{
	padding: 0;
	background: url('background-card.jpg');
	transform: perspective(600px) rotateY(180deg);
}
.information{
	color: #3b3b3b;
	text-align: right;
	padding: 30px 10px 30px 30px; 
	font-family: arial;
	font-size: 19px;
}
.card:hover > .para{
	transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .mbrapa{
	transform: perspective(600px) rotateY(0deg);
}	

.telephone{
	text-decoration: none;
	border: 1px solid #009ACD;
	padding: 8px;
	margin:5px;
	background-color: #fff;
	color: #009ACD;
}

.telephone:hover{
	border-radius: 10px;
}

.message{
	text-decoration: none;
	border: 1px solid #009ACD;
	padding:8px;
	margin: 5px;
	background-color: #009ACD;
	color: #fff;
	font-family: helvetica;
}

.message:hover{
	border-radius: 10px;
}


@media(max-width: 768px){
 
.mbeshtjellesi{
margin-bottom:65%;
}
header nav,
header nav li {
float:none;
text-align:center;
width:100%;
}
.searchbox {
position: relative;    
padding-right: 8%;     
}   
form.searchbox input[type=text],
form.searchbox input[type=submit] {
margin-top: 10px;
padding: 4px;
}
header nav li a
{
padding: 1%;
}







#footerimes{
margin-left: 0;
}
#copyright{
height: auto;
}
#footerimajtas,
#footerimes, #footeridjathtas, #copyright,
#copyright a{
padding:0 ;
font-size: 12px;
}
}