*{

}
html{
	position: relative;
	min-height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.mbeshtjellesi{
	/* e kom shtu padding*/
	padding-top: 10%; 
	margin-bottom: 4%;
}
.permbajtja{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
header{

	/*padding-top: 1px;*/
	min-height: 70px;
	/*shto width position, background color*/
	width: 100%;
	position: fixed;
	background: white;
}
header img{
	float: left;
}
#vija{
	height: 3px;
	background-color: rgba(29, 106, 119, 0.938);
	border: 0px;
	padding: 0;

}
.searchbox{
	max-width: 400px;
	float: right;
}
form.searchbox input[type=text]{
	margin-top: 15px;
	padding: 10px;
    font-size: 17px;
    border: 1px solid rgba(29, 106, 119, 0.938);
    float: left;
    width: 64%;
    background: #ffffff;
}
form.searchbox input[type=submit] {
    margin-top: 15px;
    float: left;
    width: 28%;
    padding: 10px;
    background: rgba(29, 106, 119, 0.938);
    color: white;
    font-size: 17px;
    border: 1px solid rgba(29, 106, 119, 0.938);
    border-right: none;
    border-left: none;
    cursor: pointer;
}
form.searchbox input[type=submit]:hover{  
    color: yellow;
}
  form.searchbox::after {
    content: "";
    clear: both;
    display: table;   
}
  ul{
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  }
nav ul {                 
    background-color:rgba(29, 106, 119, 0.938);
  }
nav ul  li {
    padding: 0 0 0 20px;
    float: left;
    width: 13.85%;
  }
nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
    padding: 12px;
    text-decoration: none;
  }
  nav ul li a:hover:not(.active) {
     color: yellow;
  }
  nav ul .active{
    background-color:black;
  }
footer{      
    position: absolute; 
    bottom: 0;
    left: 0%;
    right: 0%; 
    padding: 10px 0px;
    text-align: center;
    background-color:rgba(199, 198, 198, 0.87);
  }
  .rrjetetsociale ul  li {
    float: right;
    list-style: none;
    padding-right: 4%;
  }
.rrjetetsociale ul li a {
    display: block;
    color: black;
    width: 20px;
    height: 20px;
    
  }
.rrjetetsociale ul li a:hover:not(.active){
    color:rgba(29, 106, 119, 0.938);
  }
 /* MADHESIA PER TABLET */
@media(max-width: 768px){
.permbajtja{
    margin-bottom: 35px;
  } 
header nav,
header nav li,
#vija,    
#fotot #f1,#fotot #f2,
#fotot #f3,#fotot #f4
{
    float:none;
    text-align:center;
    width:100%;
  }
header img{       
    margin: 0 60px 0 60px;
  }
.searchbox{
    position: relative;       
  }    
header{
    padding-bottom:10px;
  }
#fotot{
    padding: 0 10px 0 60px;
  }
#fotot #f1{
    margin-bottom: 10px;
  }
#fotot #f2{
    margin-bottom: 10px;
  }
#fotot #f3{
    margin-bottom: 10px;
  }
#fotot #f4{
    margin-bottom: 10px;
  }
}


/* up-blerina's code*/






#top-photo{
	background-image: url('top-photo.jpg');
	background-position: center;
	min-height: 350px;
	max-width:100%;
	padding-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-repeat: no-repeat;	
	background-size: cover;
}
#top-photo h1{
	color: #fff;
	font-size: 35px;
	font-family: helvetica;
	line-height: 1.5em;
	float: left;
	padding-left: 110px;
}
#top-photo h1:hover{
	color: pink;
}
#trainers1{
	padding: 30px;
	margin: 0 100px;

}
.team-list li{
	float: left;
}

.team-list{
	border: 1px solid #fff;
	padding-top: 0;
	margin:0;
}

.trainers{
	border:1px solid #fff;
	min-height: 350px;
	min-width: 330px;
	padding: 5px;
	margin: 10px;
}

.trainers:hover{
	color: rgba(29, 106, 119, 0.938);
}

.team-img{
	text-align: center;
}

.telephone {
	text-decoration: none;
	border: 1px solid rgba(29, 106, 119, 0.938);
	padding: 8px;
	margin:5px;
	background-color: #fff;
	color: rgba(29, 106, 119, 0.938);
}
.telephone:hover{
	font-size: 20px;
	border-radius: 50%;
}
.message{
	text-decoration: none;
	border: 1px solid rgba(29, 106, 119, 0.938);
	padding:8px;
	margin: 5px;
	background-color: rgba(29, 106, 119, 0.938);
	color: #fff;
	font-family: helvetica;
}
.message:hover{
	font-size: 20px;
	border-radius: 50%;
}
.information{
	text-align: center;
	padding-top: 0;
	font-family: arial;
	font-size: 16px;
}

@media(max-width: 768px){
.permbajtja{
    margin-bottom: 35px;
  } 
#top-photo{
	float: none;
	width: 100%;
}
#top-photo h1{
	line-height: 1.5em;
	float: left;
	padding-left: 110px;
}
.team-list li{
	float: left;
}